<% if user_signed_in? %>

<h1>List of all your todo's</h1>

<div class="list-group">

	<% @items.each do |item| %>

	<div class="list-group-item">
		<div class="row-action-primary checkbox">
			<% if item.done %>
			<label><input type="checkbox" data-holder="<%= item_path(item) %>" checked></label>
			<% else %>
			<label><input type="checkbox" data-holder="<%= item_path(item) %>"></label>
			<% end %>
			<% link_to "mark as done", item_path(item), method: :put %>

		</div>
		<div class="row-content">
			<h4 class="list-group-item-heading">
				<% if item.done %>
				<strike><%= item.title %></strike>
				<% else %>
				<%= item.title %>
				<% end %>			

				<span style="float: right">Created at <%= item.created_at %></span>
			</h4>
			<p class="list-group-item-text">
				<% if item.done %>
				<strike><%= item.content %></strike>
				<% else %>
				<%= item.content %>
				<% end %>			
			</p>
		</div>
	</div>
	<div class="list-group-separator"></div>

	<% end %>

	<% else %>

	<br/>

	<div class="container-fluid" style="text-align: center; ">

		<h2> The simplest todo app on the web! Get an account now! </h2>

		<h3> <%= User.all.count %> people are using this service! </h3>

		<%= link_to "Register!", new_user_registration_path, :class => "btn btn-success btn-lg" %>

	</div>

	<% end %>
</div>

<script>

$(document).ready(function(){
	$("input").on("click", function(){
		// alert("You clicked!");

		$.ajax({
			url: $(this).attr("data-holder"),
			type: 'PUT',
			success: function(result) {
				alert("Done!");
			}
		});
	});
});

</script>